@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

$headline-fonts: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-fonts: $headline-fonts;
$logo-font: "Norse";

$primary: #cc9543;
$text-primary: #4a4a4a;
$grey: rgba(74, 74, 74, 0.7);
$pale-grey: rgba(74, 74, 74, 0.3);
$very-pale-grey: rgba(0, 0, 0, 0.1);
$light-grey: #eee;
$pale-grey-bg: rgba(0, 0, 0, 0.03);
$dark-grey: #ddd;
$white: #fff;
$white-smoke: #f3f3f3;
$black: #000;
$dusty-orange: #ec761f;
$camo: #8e8e4c;
$coffee: #a6824a;
$light-orange: #ce973e;
$whitish-grey: #d8d8d8;
$red-danger: #dd4b39;
$google-color: #dd4b39;
$success-color: #96B874;
$viking-logo-text: #11343d;

//buttons
$button-primary: #6abfc3;
$button-seconday: #cc9543;
$github-brand-color: $text-primary;
$google-brand-color: #4d90fe;
$button-disabled: rgba(216, 216, 216, 0.8);

h1, h2, h3, h4, p {
  color: $text-primary;
  font-family: $headline-fonts;
}

.h1 {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #fff;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 0.3px;
}

h3 {
  font-size: 1.25rem;
  letter-spacing: 0.2px;
}

h4 {
  font-size: 1.125rem;
  letter-spacing: 0.2px;
}

.small {
  font-size: .8125rem;
  letter-spacing: 0.2px;
}

.secondary {
  color: $grey;
}

.disabled {
  color: $pale-grey;
}

.accent {
  color: $light-orange;
}

.bold {
  font-weight: bold;
}



/* **********************
Tutorial
******************** */


/* Basics */
body {
    margin: 0 !important;
    padding: 0;
    background-color: #ffffff;
}
table {
    border-spacing: 0;
    font-family: sans-serif;
    color: #333333;
}
td {
    padding: 0;
}
img {
    border: 0;
}
div[style*="margin: 16px 0"] { 
    margin:0 !important;
}
.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.webkit {
    max-width: 600px;
    margin: 0 auto 20px auto;
}
.padding-table {
margin: 0;
    width: 100%;
    max-width: 600px;
    background-color: #fafafa;
    vertical-align: bottom;
}
.outer {
    width: 100%;
    max-width: 600px;
    border: 1px solid black;
    background-color: #ffffff;

}

.inner {
padding: 10px;
}
 
/* One column layout */
.one-column .contents {
    text-align: left;
}

.two-column {
  text-align: center;
  font-size: 0;
}

.contents {
  width: 100%;
}


/* Left sidebar layout */
.left-sidebar {
text-align: left;
    font-size: 0;
}

.left-sidebar .column {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.left-sidebar .left {
    max-width: 45px;
}

.left-sidebar .right {
    max-width: 549px;
}




//my css

.center {
  text-align: center;
}

.full-width-image img {
    width: 100%;
    max-width: 60px;
    height: auto;
}
.main-heading {
  vertical-align: center;
  color: $primary;
  font-weight: bold;
  font-size: 28px;
  margin: 10px 0 20px 0;
}

.camo-bg {
  background-color: $camo;
}

body {
  background-color: #fafafa;
}

.h3-paragraph {
  text-align: left;
  font-size: 16px;
  margin: 0;
}

.h3 {
  font-size: 24px;
  letter-spacing: 0.3px;
  font-weight: bold;
  text-align: left;
  margin: 8px 0 16px 0;
}

.normal-text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.number {
  margin: 0 0 0 5px;
  color: $light-orange;
  font-weight: bold;
  font-size: 38px;
}

.italicised-text {
  font-size: 14px;
  line-height: 16px;
  font-style: italic;
  color: $pale-grey;
  margin: 10px;
}

.bold {
  font-weight: bold;
}

.camo-bg {
  background-color: $camo;
}
.italicised {
  font-style: italic;
}

.login {
  padding: 0;
}

.login-row{
  background-color: #fafafa;
  text-align: right;

}