@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
h1, h2, h3, h4, p {
  color: #4a4a4a;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 0.4px;
  margin-bottom: 2rem; }

h2 {
  font-size: 1.5rem;
  letter-spacing: 0.3px; }

h3 {
  font-size: 1.25rem;
  letter-spacing: 0.2px; }

h4 {
  font-size: 1.125rem;
  letter-spacing: 0.2px; }

p {
  color: rgba(74, 74, 74, 0.7);
  font-size: 1.125rem;
  letter-spacing: 0.2px; }

.small {
  font-size: .8125rem;
  letter-spacing: 0.2px; }

.secondary {
  color: rgba(74, 74, 74, 0.7); }

.disabled {
  color: rgba(74, 74, 74, 0.3); }

.accent {
  color: #ce973e; }

.bold {
  font-weight: bold; }

body {
  background-color: rgba(74, 74, 74, 0.3);
  height: 100px; }

h1 {
  color: #ce973e; }

/* **********************
Tutorial
******************** */
/* Basics */
body {
  margin: 0 !important;
  padding: 0;
  background-color: #ffffff; }

table {
  border-spacing: 0;
  font-family: sans-serif;
  color: #333333; }

td {
  padding: 0; }

img {
  border: 0; }

div[style*="margin: 16px 0"] {
  margin: 0 !important; }

.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.webkit {
  max-width: 600px;
  margin: 0 auto; }

.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 600px;
  background-color: pink; }

.inner {
  padding: 10px; }

.no-padding {
  padding: 10px 0 10px 0; }

p {
  Margin: 0; }

a {
  color: #ee6a56;
  text-decoration: underline; }

.h1 {
  font-size: 21px;
  font-weight: bold;
  Margin-bottom: 18px; }

.h2 {
  font-size: 18px;
  font-weight: bold;
  Margin-bottom: 12px; }

/* One column layout */
.one-column .contents {
  text-align: left; }

.one-column p {
  font-size: 14px;
  Margin-bottom: 10px; }

.two-column {
  text-align: center;
  font-size: 0; }

.two-column .column {
  width: 100%;
  max-width: 300px;
  display: inline-block;
  vertical-align: top; }

.contents {
  width: 100%; }

.two-column .contents {
  font-size: 14px;
  text-align: left; }

.two-column img {
  width: 100%;
  max-width: 280px;
  height: auto; }

.two-column .text {
  padding-top: 10px; }

/* Left sidebar layout */
.left-sidebar {
  text-align: center;
  font-size: 0; }

.left-sidebar .column {
  width: 100%;
  display: inline-block;
  vertical-align: top; }

.left-sidebar .left {
  max-width: 100px; }

.left-sidebar .right {
  max-width: 500px; }

.center {
  text-align: center; }

.full-width-image img {
  width: 100%;
  max-width: 60px;
  height: auto; }

.camo-bg {
  background-color: #8e8e4c; }

body {
  background-color: yellow; }

.h3 {
  text-align: left; }

.h3-paragraph {
  text-align: left; }
